---
layout: 'base.njk'
---
<main> 
    <article class="main-article">
        <div class="container container--narrow flow">
                
            <h1 class="article-title">
                {{ title }}
            </h1>
            <figure class="main-article__figure">
                <img class="flex" src="{{ image }}" alt="{{ imageAlt }}">
                    <figcaption>
                        {{ imageAlt }}
                     </figcaption>
            </figure>
                    
                {{ content | safe }}
                <a href="/Blog/" class="button">Read Another Article</a>
         </div>
    </article>

    
</main>