<header id="header" class="alt">
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/Bio/">Bio</a></li>
        <li><a href="/Blog/">Blog</a></li>
        <li><a href="/Shows/">Shows</a></li>
        <li><a href="/Press/">Press</a></li>
        <li><a href="/Clips/">Clips</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="/Book/" class="button primary fit">Book</a></li>
    </ul>
</nav>