---
layout: 'base.njk'
---

<tr>
    <td data-label="Date">{{show.data.date | postDate}}</td>
    <td data-label="Show">{{show.data.show}}</td>
    <td data-label="Time">{{show.data.time}}</td>
    <td data-label="Location">{{show.data.location}}</td>
    <td data-label="Tickets"><a href="{{show.url}}" target="_blank" rel="noreferrer noopener" class="button primary">Tickets</a></td>
</tr>