---
title: Bio
layout: 'base.njk'
---
		


<div id="main">
	<div class="inner">
				
		<section>
				<header>
					<h1><em>{{ title }}</em></h1>
				</header>

		{%- for bio in collections.bio -%}
			<section>
				<span class="image right"><img width="250" height="250" src="{{bio.data.image}}" alt="{{bio.data.imageAlt}}"/></span>
			</section>
			<section >
				<p>{{bio.data.paragraph1}}</p>
				<p>	{{bio.data.paragraph2}}</p>
				<p>	{{bio.data.paragraph3}}</p>
				<p>	{{bio.data.paragraph4}}</p>	
				<p>	{{bio.data.paragraph5}}</p>
			</section>

		{%-endfor-%}
	</div>	
</div>
	
			
