---
title: Blog
layout: 'base.njk'

---
				<section id="blog">

						<div class="blog-heading">
							<span><em> Shirley's Recent Blog Posts</em></span>
							<h3> A Blazen Blog </h3>
						</div>
				<!-- Blog Boxes -->
						<div class="blog-container">
								{%- for post in collections.post | reverse -%}
								
									<div class="blog-box">
										<div class="image">
											<img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
										</div>
										<div class="blog-text">
											<a href="{{post.url}}" class="blog-title">{{ post.data.title}}</a>
											<span>by {{post.data.author}}</span>
											<span>{{post.date | postDate}}</span>
											<p>{{post.data.description}}</p>
											<a href="{{post.url}}"> Read More </a>
										</div>
									  
									</div>
										
								{%-endfor-%}

						</div>

				</section>



