---
title: Clips
layout: 'base.njk'

---
					
					<div id="main" class="inner">
						<!-- One -->
							<section>
								<div class="inner">
									<header>
										<h1><em>Clips</em></h1>
									</header>
									<div class="row aln-center-responsive">
										<section>
											<h2> Stand Up Comedy </h2>
											<div class="clips">
												<iframe class="responsive-iframe" width="480" height="315" src="https://www.youtube.com/embed/8b-AXeD1Blg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
												<ul class="actions">
													<li><a href="https://www.youtube.com/watch?v=WD1CSNK6_XM" target="_blank" rel ="noreferrer noopener" class="primary button">Watch Full Video</a></li>
												</ul>
											</div>
										</section>
										<section class="off-1">
											<h2> Burlesque </h2>
											<div class="clips">
												<iframe class="responsive-iframe" width="480" height="315" src="https://www.youtube.com/embed/_puf_vSCse0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
												<ul class="actions">
													<li><a href="https://vimeo.com/811771320" target="_blank" rel ="noreferrer noopener" class=" primary button">Watch Full Video</a></li>
												</ul>
											</div>
										</section>
									</div>
								</div>
							</section>
					</div>

