---
title: Press
description: Press page for Shirley Blazen
layout: 'base.njk'

---

<section>
	<div class="inner">
		<header>
			<h1><em>Press</em></h1>
		</header>
	</div>
</section>
<section class="row">
	<h2> Articles </h2>
</section>
						
<section class="spotlights">

	{%- for press in collections.press | reverse -%}
		<section class="blog-container">
			<div class="image">
				<img width="500" height="250" src="{{press.data.image}}" alt="{{press.data.imageAlt}}" data-position="center center" />
			</div>
			<div class="content">
				<section>
					<header>
						<h3>{{press.data.title}}</h3>
					</header>
					<p>{{press.data.description}}</p>
					<ul class="actions">
						<li><a href="{{press.data.link}}" target="_blank" rel ="noreferrer noopener" class="button">Read More</a></li>
					</ul>
					
				</section>
			</div>
		</section>

	{%-endfor-%}		
</section>

<section class="row">
	<h2> Podcasts Appearances</h2>
		<div class ="row inner">

			{%- for podcast in collections.podcast -%}

				<div class ="box alt">
					<h3>{{podcast.data.title}}</h3>
					<section>
						<img loading="lazy" width="250" height="250" class="image left" src="{{podcast.data.image}}" alt="{{podcast.data.imageAlt}}" />
					</section>
					<section>
						<p>{{podcast.data.description}}</p>
						<a class= "button" href ="{{podcast.data.link}}" target="_blank" rel ="noreferrer noopener"> Listen Now</a>
					</section>
				</div>

			{%-endfor-%}			
		</div>
</section> 