---
title: Press
layout: 'base.njk'

---

<section>
	<div class="inner">
		<header>
			<h1><em>Press</em></h1>
		</header>
	</div>
</section>
<section class="row">
	<h2> Articles </h2>
</section>
						
<section class="spotlights">

	{%- for press in collections.press | reverse -%}
		<section class="blog-container">
			<div class="image">
				<img width="500" height="250" src="{{press.data.image}}" alt="{{press.data.imageAlt}}" data-position="center center" />
			</div>
			<div class="content">
				<section>
					<header>
						<h3>{{press.data.title}}</h3>
					</header>
					<p>{{press.data.description}}</p>
					<ul class="actions">
						<li><a href="{{press.data.link}}" target="_blank" rel ="noreferrer noopener" class="button">Read More</a></li>
					</ul>
					
				</section>
			</div>
		</section>

	{%-endfor-%}
								
				{#				<section class="blog-container">
									<div class="image" >
										<img loading="lazy" width="500" height="250" src="/assets/images/press2.avif" alt="Shirley Blazen flexing" data-position="top center"/>
									</div>
									<div class="content">
										<section>
											<header>
												<h3>The Ladylike Project got mad, then gave back</h3>
											</header>
											<p>“I think there’s always been a push for particularly women to express their anger in a way that is palatable for people, and I’m tired of that,” said Haag. She turned her anger into the Ladylike Project, a collective she created to connect artists who want to raise money for progressive causes—and she threw a big middle finger smack-dab in the center of an otherwise dainty logo to show that she’s not pulling any punches...</p>
											<ul class="actions">
												<li><a href="https://chicagoreader.com/arts-culture/the-ladylike-project-got-mad-then-gave-back/" target="_blank" rel ="noreferrer noopener" class="button">Read More</a></li>
											</ul>
										</section>
									</div>
								</section>
								<section class="blog-container">
									<div class="image">
										<img loading="lazy" width="500" height="250" src="/assets/images/press3.avif" alt="Shirley Blazen as Krusty the Clown" data-position="25% 25%" />
									</div>
									<div class="content">
										<section>
											<header>
												<h3>Review: Sixth Annual Nerd Comedy Fest Remains Full of Heart</h3>
											</header>
											<p>... this festival has always been an intimate favorite, truer to the nature of a gathering of the nerd variety than large commercial cons, and inextricably linked to the theater and comedy scene in Chicago in a way that make it unique to the city. Comedy was followed by burlesque, with Shirley Blazen, who we’d also see as emcee for Acrobatica Infiniti the next evening, provided My Little Pony’s “bronies” and gal pals with plenty of PG-13 thrills. Later on in the show, she made another appearance as beloved (?) Simpsons clown, Krusty, in a particularly story-driven piece of titillating performance art...</p>
											<ul class="actions">
												<li><a href="https://thirdcoastreview.com/2018/05/26/review-sixth-annual-nerd-comedy-fest-remains-full-heart/" target="_blank" rel ="noreferrer noopener" class="button">Read More</a></li>
											</ul>
										</section>
									</div>
								</section> #}
</section>



{#
<section class="row">
						<h2> Podcasts Appearances</h2>
						<div class ="row inner">
							<div class ="box alt">
								<h3>The Calls Are Coming from Inside the Podcast</h3>
								<section>
									<img loading="lazy" width="250" height="250" class="image left" src="/assets/images/podcast1.avif" alt="Shirley Podcast Appearance" />
								</section>
								<section>
									<p>April Fools Day may be over, but the month of the fool is still going strong. Our first round of horror-flavored laughs comes courtesy of some gateway horror films that made us and our guests fans for life. First, we talk with DeVaughn and Garrett of the Bloody Blunts Cinema Club podcast about that ghost with the most, Beetlejuice. And then we switch over to a man doing just as much, if not more, to talk about Ernest Scared Stupid with Shirley Blazen.</p>
									<a class= "button" href ="https://open.spotify.com/episode/6iNY8HJ9bm7pQbdfFBJzlw" target="_blank" rel ="noreferrer noopener"> Listen Now</a>
								</section>
							</div>
							<div class ="box alt">
								<h3>Side Quests Episode 159: River City Girls with Shirley Blazen</h3>
								<section>
									<img loading="lazy" width="250" height="250" class="image left" src="/assets/images/podcast2.avif" alt="Shirley Podcast Appearance" />
								</section>
								<section>
									<p>Side Quests is back and this episode's host is comic, clown, burlesque performer/producer, and ass kicker on a mission to get their boyfriend back, Shirley Blazen! The game they are talking about today is River City Girls by WayForward and Arc System Works.</p>
									<a class="button"href="https://funandgames.libsyn.com/side-quests-episode-159-river-city-girls-with-shirley-blazen"target="_blank" rel ="noreferrer noopener"> Listen Now </a>
								</section>
							</div> 
</section> #}