---
title: Shows
layout: 'base.njk'
month: July
---


<div id="main" class="inner">

						
	<h1><em>{{ title }}</em></h1>
	{%- for show in collections.show -%}
		<h4>{{show.data.month}}</h4>
	{%-endfor-%}
	
		<div class="table-wrapper">
			<table class="default">
				<thead>
					<tr>
							<th scope="col">Date</th>
							<th scope="col">Show</th>
							<th scope="col">Time</th>
							<th scope="col">Location</th>
							<th scope="col">Tickets</th>
							<th scope="col">More Info</th>
					</tr>
				</thead>
				<tbody>
					{%- for show in collections.show -%}
						<tr>
							<td data-label="Date">{{show.data.date | postDate}}</td>
							<td data-label="Show">{{show.data.show}}</td>
							<td data-label="Time">{{show.data.time}}</td>
							<td data-label="Location">{{show.data.location}}</td>
							<td data-label="Tickets"><a href="{{show.data.tickets}}" target="_blank" rel="noreferrer noopener" class="button primary">Tickets</a></td>
							<td data-label="More Info">{{show.data.moreInfo}}</td>
						</tr>

						{% else %}
						
						<table><strong> More Shows Coming Soon!</strong></table>

					{%-endfor-%}				
				</tbody>
			</table>
		</div>
</div>
				
					