---
title: Shows
layout: 'base.njk'

---

				<!-- Main -->
					<div id="main" class="inner">

						<!-- Table -->
						<h1><em>Shows</em></h1>

						<h4>Febuary</h4>
						<div class="table-wrapper">
							<table class="default">
								<thead>
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Show</th>
										<th scope="col">Time</th>
										<th scope="col">Location</th>
										<th scope="col">Tickets</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first">
										<td data-label="Date">2/6/23</td>
										<td data-label="Show">Power Comedy Hour</td>
										<td data-label="Time">8 PM</td>
										<td data-label="Location">Jake's Pub, Chicago</td>
										<td data-label="Tickets">FREE</td>
									</tr>
									<tr>
										<td data-label="Date">2/9/23</td>
										<td data-label="Show">Lust for Life: Let's Wine About Valentine's Day</td>
										<td data-label="Time">8 PM</td>
										<td data-label="Location">Dorthy, Chicago</td>
										<td data-label="Tickets"><a href="https://www.eventbrite.com/e/lust-for-life-a-monthly-rock-out-burlyq-revue-tickets-526702279697" target="_blank" rel="noreferrer noopener" class="button primary">Tickets</a></td>
									</tr>
									<tr>
										<td data-label="Date">2/17/23</td>
										<td data-label="Show"> Baby Wine @ Annoyance</td>
										<td data-label="Time">9:30PM</td>
										<td data-label="Location">Annoyance Theatre, Chicago</td>
										<td data-label="Tickets"><a href="https://theannoyance.thundertix.com/orders/new?performance_id=2889583" target="_blank" rel="noreferrer noopener" class="button primary">Tickets</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
